[2016-01-28 19:18] dweinstein opened #1 "open source"
* [x] MIT license
* [x] Move repository to `nowsecure` and drop the /private/ bit
* [x] lint semistandard warnings https://github.com/viaforensics/node-applesign/issues/4
* [x] publish to npm

[2016-01-28 19:21] dweinstein opened #2 "rename"
codesign is already an existing npm package [here](https://www.npmjs.com/package/codesign). let's consider renaming this to e.g., `ipa-codesign` or something like this

cc @trufae

[2016-01-28 21:37] dweinstein opened #4 "lint/undefined stuff"
[code]

[2016-02-02 04:49] dweinstein opened #5 "codesigning encrypted app"
currently we will successfully resign the .ipa but installing the resulting ipa will fail with verification errors. we should consider whether we should error or warn the user if the binary is encrypted (e.g., maybe using `LC_ENCRYPTION_INFO`).

cc @trufae

[2016-02-16 11:19] #5 closed, assigned to nobody

[2016-02-16 16:20] trufae opened #6 "Remove OSX dependency (aka support Linux)"
As described in this project: https://github.com/saucelabs/isign

Looks like it is basically running openssl commands to do all that signing thing without depending on Apple hw or sw. (thanks @oleavr for the finding)

[2016-02-23 12:11] #2 closed, assigned to dweinstein

[2016-02-23 18:32] dweinstein opened #8 "resigning app w/ space in executable"
[code]

cc @trufae

[2016-02-24 04:11] dweinstein commented on #4
https://docs.nodejitsu.com/articles/errors/what-are-the-error-conventions

[2016-02-26 15:13] trufae commented on #8
The error is not related to having spaces, but the app being signed by an old xcode (according to google), the error that is happening is this: http://stackoverflow.com/questions/23429499/stdout-buffer-issue-using-node-child-process i have no commit access, so i'm submiting a pullreq for it

[2016-02-26 15:16] #8 closed

[2016-02-26 16:03] #4 closed

[2016-02-26 16:53] radare commented on #1
I think we should rename the `ipa-resign.js` to something more related to the modulename like `applesign-ipa`

[2016-02-26 17:30] trufae commented on #1
Everything is done now :) just pending to rename that ipa-resign.js if everybody agrees

[2016-02-26 17:30] #1 closed

[2016-02-27 18:30] trufae opened #10 "Rename ipa-resign to applesign"
To keep consistency with the module name

[2016-02-27 18:32] oleavr commented on #10
:+1:

[2016-04-20 22:29] trufae commented on #6
For a quick approach we can just write a bunch of shellscript or python lines to implement the `codesign` and `security` programs using `isign`. But ideally we should have those implemented in pure node.

Those are all the four commands used in applesign
[code]

[2016-04-20 22:32] dweinstein commented on #6
yeah I'm investing my time fixing some issues with isign so it could work out... though longer term I'd love to see something pure-node.

[2016-05-05 14:43] dweinstein opened #12 "doesn't generate ipa at end"
it's broke ;-)

[2016-05-05 15:04] trufae commented on #12
Should be fixed now, please confirm

[2016-05-05 15:54] dweinstein commented on #12
nope not working yet

[2016-05-05 16:23] dweinstein commented on #12
it's working for me now

[2016-05-05 16:24] trufae commented on #12
Fixed in https://github.com/nowsecure/node-applesign/commit/40dd00c04b34142de60a18f288a47d0936998da7

thanks for reporting

[2016-05-05 16:24] #12 closed

[2016-05-05 17:10] trufae opened #13 "If process fails the temporary directory is not removed"

[2016-05-05 21:41] trufae opened #14 "Add --replace option to replace the IPA after signing"

[2016-05-05 22:03] trufae opened #15 "Show resigned filename in the output log"

[2016-05-05 22:04] trufae opened #16 "Do not resign twice the main executable"
This produces a harmless error message because of the racy condition

[2016-05-06 17:01] trufae opened #17 "Bad practices: do not use console.log in library code"

[2016-05-06 22:05] #16 closed

[2016-05-06 22:05] trufae commented on #16
Maybe it will be better to just simplify the code and remove the signExecutable step and just sign all mach0 binaries found

[2016-05-06 22:16] #15 closed

[2016-05-06 22:58] #14 closed

[2016-05-06 22:59] trufae opened #18 "Use zip.js instead of system zip and unzip executables"

[2016-05-06 22:59] trufae opened #19 "Support xcarchives"

[2016-05-06 23:00] trufae opened #20 "Use event model instead of callbacks"
Codesign.signIPA('ipafile').on('error', error_handle).on('ready', finished).start()

[2016-05-06 23:35] trufae opened #21 "Add filesystem locks to avoid race conditions when multiple instances are running"

[2016-05-08 03:15] trufae commented on #17
This is fixed in 7a1b48fee3112041f5a6379b2140a31cb06dc30b

[2016-05-08 03:15] #17 closed

[2016-05-08 03:15] trufae commented on #6
See 2d8caec33bee4cbdc58aff4b3a38501dd0693a59

[2016-05-08 03:19] trufae commented on #6
Also see https://github.com/nowsecure/node-applesign/blob/master/tools.js

[2016-05-08 03:27] #19 closed

[2016-05-08 11:16] radare commented on #13
The new event API model should handle this situation properly, and in case of error, it doesnt removes the temporary directory unless the user calls the `.cleanup()` method

[2016-05-08 11:16] trufae commented on #13
The new event API model should handle this situation properly, and in case of error, it doesnt removes the temporary directory unless the user calls the `.cleanup()` method

[2016-05-08 14:43] ekristen opened #22 "Error if no codesign identities cannot be found"
The library should throw an error if it cannot find any valid codesign identities.

[2016-05-10 10:11] trufae commented on #22
Fixed in d3bd1227f4c1053586bf7afddfe4b438cf2d6401

Thanks!

[2016-05-10 10:11] #22 closed

[2016-05-10 10:11] trufae commented on #20
Done in master

[2016-05-10 10:11] #20 closed

[2016-05-12 00:00] trufae opened #23 "Zip updates the resigned ipa instead of replacing it completely"

[2016-05-12 10:12] trufae opened #24 "Rebundle PlugIns/*/Info.plist too"

[2016-05-12 10:13] trufae opened #25 "Add user-defined hook to preprocess tmpdir contents before resigning"

[2016-05-12 10:13] trufae opened #26 "Expose signFile API"

[2016-05-16 21:34] dweinstein opened #27 "not generating .ipa for files without `.ipa` in name"
[code]

[2016-05-16 22:00] dweinstein commented on #27
bug seems to happen when the input file does not end in `.ipa`

[2016-05-16 22:22] dweinstein opened #28 "path manipulations"
- in session.js, [`upperDirectory`](https://github.com/nowsecure/node-applesign/blob/a98a3d004739381e75c280a792fdd933d3e8e9bd/session.js#L53) => doesn't `path.dirname` do what you want here? e.g., `path.dirname(file) +  '/'` or `path.join(path.dirname(file), '/')?`

general:
- avoid use of string concatenation and use paths instead using `path.join`

[2016-05-16 22:29] dweinstein opened #29 "options being overwritten by `withConfig`"
[code]

this is overwriting the values passed in by `bin/ipa-resign.js` and replacing important values like `outfile` etc and undefining them. this causes the `--output` option to be ignored

[2016-05-16 22:34] dweinstein commented on #29
related to #27

[2016-05-16 23:17] #27 closed

[2016-05-16 23:17] #29 closed

[2016-05-16 23:29] dweinstein opened #31 "consider using macho-is-encrypted module"
https://github.com/nowsecure/macho-is-encrypted

[2016-05-18 11:38] #28 closed

[2016-05-18 11:41] trufae commented on #31
Done in bba9ce34c622d2aade7ccd0e867a9ce2098e08e7

[2016-05-18 11:41] #31 closed

[2016-06-01 20:51] dweinstein opened #32 "output file with path in name fails"
using current git

[code]

using option `--output /tmp/foo.ipa`

[code]

[2016-06-02 13:59] trufae opened #33 "--output is relative"
should work for absolute paths too

[2016-06-02 14:25] dweinstein commented on #32
related to #33

[2016-06-07 12:09] #33 closed

[2016-06-07 12:09] trufae commented on #32
should be fixed now.

[2016-06-07 12:09] #32 closed

[2016-06-07 12:10] trufae commented on #23
It's fixed now in last release

[2016-06-07 12:10] #23 closed

[2016-06-07 12:15] trufae commented on #23
Fixed in 2bca3fd327c823f78b915065e4b52dcd6cae56af

[2016-06-24 19:36] oleavr opened #34 "Unable to resign apps with WatchKit"
Due to `a sealed resource is missing or invalid`, which leads to an error when trying to install the app: `AppexBundleIDNotPrefixed`.

[2016-06-24 21:02] oleavr opened #35 "Bundled frameworks are not resigned"
For example `Foo.app/Frameworks/FooKit.framework/FooKit`.

[2016-06-24 21:23] oleavr commented on #35
Oops, I was wrong, bundled frameworks are indeed resigned.

[2016-06-24 21:23] #35 closed

[2016-07-06 15:58] trufae opened #36 "Add step to lipo all fat binaries"
this will allow to reduce final IPA size and also, avoid having cracked IPAs that contain archs not supported.

The tool must enumerate all the archs for all the fat bins in the ipa and identify the minimum common supported to strip the rest.

[2016-07-06 16:56] dweinstein commented on #36
👍

[2016-07-08 14:42] dweinstein opened #37 "Error: Cannot find module './depsolver'"
[code]

[2016-07-11 18:19] dweinstein commented on #37
fixed in #38

[2016-07-22 16:11] dweinstein opened #40 "use correct node callback convention"
depsolver does not use correct callback convention of error being the first arg and results being after.

[2016-07-23 02:19] #40 closed

[2016-07-25 09:34] trufae opened #43 "Support all @ paths in dyld libs"
Apple has several ways of locating shared libraries:

@executable_path : relative to the main executable
@loader_path : relative to the referring binary
@rpath : relative to any of a list of paths.

[2016-07-25 09:34] #37 closed

[2016-07-25 15:00] trufae commented on #43
Done in fb2102e51606c9b76da01c84003eed34c5d489cc

[2016-07-25 15:00] #43 closed

[2016-08-09 11:45] mkayswork commented on #6
An pure node solution without os x dependency would be great, I've been looking for this a few weeks..

[2016-08-11 12:37] trufae commented on #6
@mkayswork there's https://pypi.python.org/pypi/isign/ but from my experience it is pretty hard to setup and it is pretty buggy, so it is not a reliable option

[2016-08-12 23:05] trufae commented on #34
Can you confirm if this is fixed now?

[2016-08-13 00:17] #26 closed

[2016-08-13 00:17] trufae commented on #34
There's also the -w flag which removes the watchapp stuff from the IPA and allows to sign and deploy properly. I think we can close this issue

[2016-08-15 09:00] mkayswork commented on #6
Ty, I know that project because I have to use it to get rid of that OS X dependency. It's also working, but pure node would be far better for me..

The setup itself isn't that hard anymore, the issues also give good hints for some use cases.. ;)

[2016-08-16 11:01] trufae commented on #6
You can help on this by writing separate standalone tools that mimic osx functionality but using isign under the hood to get applesign working outside osx.

After this it will be desirable to slowly reimplement those commands as node modules that can be used to replace the tools.js thing

[2016-09-12 00:25] akofman opened #45 "openssl wrong location"
Hello,
I noticed that you have written a `findInPath` method that is never called.
In my case, `openssl` is not located in `/usr/local/bin/openssl` but `usr/bin/openssl`. What about calling this method at the beginning of `index.js`  ? Also you could use something like https://github.com/shelljs/shelljs in order to easily exec path commands.

Thanks !

[2016-09-12 00:48] akofman opened #46 "Keep smime instead of cms ?"
[Using `cms` instead of `smime`](https://github.com/nowsecure/node-applesign/commit/aeb9a65583aa3fb88c7aa7d07b97ccf7db2de22c#diff-498e7bc80cf67d246be8aa3f2bbbb653R76) with openssl breaks the execution :

[code]

I'm using `OpenSSL 0.9.8zh 14 Jan 2016` from OSX El Capitan.

[2016-09-15 00:52] trufae commented on #36
Fixed in https://github.com/nowsecure/node-applesign/commit/b8236e3ad1e4811ffd9ab01835a8dd78552924d6

[2016-09-15 00:52] #36 closed

[2016-09-15 00:53] trufae commented on #34
ping

[2016-09-20 15:24] trufae opened #47 "Fail if any symlink is found inside the IPA"

[2016-09-21 22:18] trufae opened #48 "Support directories, not just IPAs"
ios-deploy -b . can deploy app found in current directory. therefor it makes sense to allow applesign to sign a directory instead of an IPA.

In addition applesign could also generate an IPA taking a directory as input.

[2016-09-21 22:43] trufae opened #49 "Prefix working directory with random UUID to support multiple signers on the same ipa possible"
[code]

[2016-09-21 23:13] trufae commented on #47
Fixed in 98f5062b2aebf329ae4592779d9babc921639b3c

[2016-09-21 23:13] #47 closed

[2016-09-22 00:22] #49 closed

[2016-09-22 00:38] trufae commented on #21
There's no need for this because temporary directories are now suffixed with an uuid.v4

[2016-09-22 00:38] #21 closed

[2016-09-22 12:48] oleavr commented on #34
Haven't encountered this since then, and can't remember which app it was. Let's consider this fixed.

[2016-09-22 12:48] #34 closed

[2016-09-22 17:22] trufae commented on #46
cms is smime3 and this was included in openssl 1.0.0. I have switched to `security cms` for now by default. Would be good if OSX doesn't comes with an ancient ssl lib :)

[2016-09-22 17:23] trufae commented on #46
i'm keeping this issue open for now, but this is no longer an issue in OSX and adding version checks would be the way to go, not just checking for tool's path

[2016-09-30 16:37] trufae opened #50 "If source ipa doesnt contains .ipa extension.."
it's resigned in the same file because it doesnt' appends the -resigned

[2016-09-30 22:09] #50 closed

[2016-10-03 22:56] trufae opened #51 "Add option to remove Container/ directory"
This directory contains the home folder of the app, appears in IPAs generated by iTunes from backups

[2016-10-11 12:59] trufae opened #52 "Discard or sign orphaned frameworks"
If the ipa contains orphaned mach0 binaries (not referenced from any other mach0) it will fail on install, but will run fine, the problem is that applesign will just not sign them because they are out of the dependency tree and this will make installd unhappy

[2016-10-11 15:15] dweinstein commented on #52
Could we also leave them but sign them anyway?

[2016-10-12 13:34] trufae commented on #52
The last release is just adding them to the signing queue, the other option would be to remove them from the IPA, but that can result in undesired behaviour if the app is dlopening them at runtime, so I think this default is fine for now. We can investigate later if parametrizing this action makes sense or not

[2016-10-12 13:34] #52 closed

[2016-10-30 14:41] 0x5e opened #56 "validation"
Hello, when I'm re-signing apps, I always meet problems.`codesign -vv xxx.app` doesn't validate all things iOS system do.
For example: bundle_id/entitlements/certificate not match mobileprovision file; certificate expired; certificate revoked; .framework/.dylib/.appex not re-signed properly;
These problems was found after I failed to install .ipa on the device then check and check again.
What do y

[2017-01-03 20:40] ay-kay opened #57 "Cannot find module 'macho'"
Cloned latest master and installed using `npm install`.

[code]

[2017-01-08 19:39] ay-kay commented on #57
depsolver.js

-const macho = require('macho');
+const macho = require('@nowsecure/macho');

[2017-01-08 19:45] semml0r commented on #57
thanks @ay-kay. I can confirm his solution, works for me.

[2017-01-17 07:58] joanbono commented on #57
Works here too using `npm 3.10.10`.

Thanks @ay-kay

[2017-01-19 10:15] trufae commented on #57
should be working now

[2017-01-19 10:15] #57 closed

[2017-01-19 12:32] trufae commented on #56
You can use the -c to clone the entitlements from your mobileprovisioning and solve this inconsistency problem. Not all checks can be done without a device.

[2017-02-10 19:08] dweinstein opened #61 "TypeError: Cannot read property 'cmds' of undefined"
[code]

using https://github.com/nowsecure/node-applesign/commit/ab8f4ea390123634b0697225bbd911ad0f7cc046

cc @jporter22

[2017-02-10 19:14] dweinstein commented on #61
this seems to happen on a framework that is missing the `LC_CODE_SIGNATURE` cmd.

[2017-02-14 10:28] mkayswork commented on #6
I don't have enough knowledge regarding the signing process of os x. From what I've learned, the proccess is very complex. I managed to get it working on linux with isign https://pypi.python.org/pypi/isign/ . It's because It relies on OpenSSL which is only available as a third party solution on Windows. Since the code signing process is very complex, I don't want to rely on those, which is why I s

[2017-02-15 02:12] #61 closed

[2017-04-01 07:39] #56 closed

[2017-05-24 20:55] dweinstein opened #62 "regression from plugin change"
https://github.com/nowsecure/node-applesign/blob/master/session.js#L249

seems this raises an error when the PlugIn dir does not exist...

[2017-05-24 21:37] dweinstein commented on #62
false alarm -- it was another error but this was the first error I saw. looks like the error is handled in a try/catch

[2017-05-24 21:37] #62 closed

[2017-06-08 08:38] kahyalar opened #63 "Installation error on MacOSX"
Hey all, I cloned the repo. Then I start the .js file according the guide but I get error "Colors" not found. I think i have missing package named colors. How can I solve it ?
Thanks !

[2017-06-09 05:49] kahyalar commented on #63
I think this error is according to package.json, I downloaded whole module with npm install xxx. Then completely installed. Can be closed, thanks!

[2017-06-09 05:49] #63 closed

[2017-06-12 19:23] kidd0 commented on #10
Why isn't this issue closed? Seems to be done. Also the documentation still refers to ipa-resign.js can this be changed?

[2017-06-12 19:52] #10 closed

[2017-06-12 19:53] dweinstein commented on #10
PR welcome to fix the README ;-)

[2017-06-13 08:50] trufae commented on #10
fixed

[2017-07-24 17:04] trufae opened #64 "Add an option to remove SC_Info (and *.sinf files) when repackaging"

[2017-08-30 14:14] trufae opened #66 "-E requires -b because of fixPlist"

[2017-09-18 12:16] ay-kay commented on #24
+1

[2017-12-11 18:28] trufae opened #69 "Parallel fails sometimes"
Some applications fail to be resigned in parallel

[2017-12-11 23:11] dweinstein opened #70 "consider specifying min node version in package.json"
https://docs.npmjs.com/files/package.json#engines

related to https://github.com/nowsecure/node-applesign/pull/68

[2017-12-12 13:15] raulsiles commented on #70
The error that originated PR #68 was:
[code]

It was generated when using the following old NodeJS versions:
[code]

After updating to newer versions (supporting the ES6 syntax), the error was fixed:
[code]

[2017-12-12 14:35] trufae commented on #70
According to http://node.green/ the spread operator was introduced in NodeJS 5.12

[2017-12-12 14:35] #70 closed

[2017-12-12 15:54] #45 closed

[2018-03-05 07:55] rustymagnet3000 opened #71 "Applesign v2.2.0 - maxBuffer exceeded / large iPA?"
I always hit the following error on a large IPA.  I don't get the error on a small IPA.

Any ideas what is causing this error with command?
`applesign -i <SIGNING ID> repackaged.ipa`

[code]

[2018-03-05 07:56] rustymagnet3000 commented on #71
`applesign --version` ✅
`applesign -L`✅

[2018-03-05 07:59] rustymagnet3000 commented on #71
if I try the -z flag to ignore zip errors, I get more errors that suggest the Info.plist is not present in the inside the app package, but I know it is.

[2018-03-06 04:27] pharazone opened #72 "How to insert .dylib to an IPA file?"
I used
bin/applesign.js -I FridaGadget.dylib

but it seems something wrong:
Error: not found: insert_dylib

[2018-03-06 09:27] rustymagnet3000 commented on #72
Why not use Objection to do the whole thing for you?

https://github.com/sensepost/objection

It uses AppleSign under the hood and repackages the ipa with Frida-Gadget.  You need ios-deploy to provision the app bundle.

[2018-03-06 13:30] rustymagnet3000 commented on #71
ok, this looks like a sudo or chown  issue.  When I run Applesign with su, it works.

[2018-03-06 13:59] rustymagnet3000 commented on #71
The issue seems to be related to the IPA size.

[2018-03-07 14:32] rustymagnet3000 commented on #71
Interestingly, when I run Objection [that uses Applesign] it works. ✅

But I still hit the same error..

[2018-03-08 11:47] rustymagnet3000 commented on #71
Fix: used the 7zip flag instead of zip.

`applesign -7 -i DEVELOPER_ID -m embedded.mobileprovision myapp.ipa`

I suspect this was a self-inflicted 'chown' issue.

[2018-03-08 11:47] #71 closed

[2018-07-20 13:58] trufae commented on #72
You have to install the `insert_dylib` tool in your system. For example via r2pm:

`r2pm -i insert_dylib`

[2018-07-20 13:58] #72 closed

[2018-08-30 20:39] NeonLost commented on #35
How? I can't find correct argument. Help please...)

[2018-11-15 12:36] trufae opened #75 "Add support for arm64_32 binaries (apple watch series 4)"
Waiting for this PR to be merged https://github.com/indutny/macho/pull/10

[2018-11-23 17:37] trufae opened #76 "Verify identity when a provisioning is specified"
If the user uses -m and -i it must verify that both match, otherwise the signing will work but the installation will fail.

[2018-11-23 17:40] trufae opened #77 "Update DTPlatformVersion with -O"
Right now it seems like the DeploymentTargetPlatformVersion element of the Info.plist is ignored but it can be changed to the same value of the MinimumOSVersion when the -O option is used.

[2018-11-23 23:58] trufae commented on #75
Done

[2018-11-23 23:58] #75 closed

[2018-11-23 23:59] trufae commented on #69
All async issues has been fixed. cant reproduce any issue with -p

[2018-11-23 23:59] #69 closed

[2018-12-07 00:32] #48 closed

[2018-12-10 09:54] trufae commented on #25
That's done in master with the -R flag

[2018-12-10 09:54] #25 closed

[2018-12-14 20:37] dweinstein opened #78 "2.6.0 currently points to master/wrong intended version"
should probably point to https://github.com/nowsecure/node-applesign/tree/2.x

and also the 2.6.0 version should be published to npm for the 2.x series

currently get:

[code]

[2018-12-17 15:45] #78 closed

[2018-12-20 12:46] radare opened #79 "Simplify help message"
Moving all the experimental flags into a separate long-help message will make the tool easier to use, because the amount of them is pretty high right now :D we can probably remove, group

[code]

[2019-02-27 04:37] useignition opened #80 "Version 3.1.0 doesn't work whereas 2.5.1 does."
Hi, i have just noticed that version 3.1.0 doesn't allow me to do anything with what is in the README. I have tried compiling from the source and using NPM however only 2.5.1 allows me to use it.

Particularly listing identities doesn't work it just gives no output on 3.1.0.

Is this a known issue?

[2019-03-11 22:44] trufae commented on #80
Can you try again with current master?

[2019-03-11 22:47] useignition commented on #80
I will try again in a few hours. I'm at work right now.

[2019-03-11 22:51] trufae commented on #79
Another thing that will improve the help message is to compact all the entitlement related options in one or two flags like this:

* -E --entry-entitlement
* -c --clone-entitlements
* -e --entitlements FILE
* -M --massage-entitlements

We can have something like this:

* -e FILE
* -E [clone,massage,entry]  # rename entry with 'default'

or just use the same -e for both file and type, `-e clone` vs

[2019-03-11 22:53] trufae commented on #79
We can also group the Info.plist options like this:

* -H allow-http
* -f force-family
* -O os-version
* -b bundle-id
* -B bundle-id-group
* -K add-access-group

[2019-03-11 22:56] trufae commented on #79
Packaging related options:

* -7 use-7zip
* -A - package all subdirs, not just Payload
* -o output ipa
* -l --lipo
* -n --noclean
* -w, --without-watchapp
* -z, --ignore-zip-errors

[2019-03-11 22:59] trufae commented on #79
Signing related options:

* -i, --identity [1C4D1A..]
*  -a, --all
*  -u, --unfair
* -v, --verify                  Verify all the signed files at the end
*  -V, --verify-twice            Verify after signing every file and at the end
* -w, --without-watchapp
* -m, --mobileprovision [FILE]
* -S, --self-sign-provision
* -s, --single

[2019-03-12 00:00] trufae commented on #51
Not necessary because there's already -A to pack all the directories, not just Payload, so this is the default behaviour

[2019-03-12 00:00] #51 closed

[2019-03-12 00:06] trufae commented on #79
<img width="881" alt="Screenshot 2019-03-12 at 01 06 19" src="https://user-images.githubusercontent.com/6431515/54165935-1538b600-4463-11e9-989d-289777aa3bda.png">

[2019-03-12 09:02] trufae commented on #79
I've pushed the improved help message in master

[2019-03-12 09:02] #79 closed

[2019-03-13 20:45] useignition commented on #80
Sorry, I forgot to post an update!

There is still no output.

Here is my code.
[code]

[2019-03-15 12:30] trufae commented on #80
The API between v2 and v3 has changed, this is why there was a major version bump.

The new v3 API is enforcing async/await pattern instead of the callback based. Which makes the code more readable and easy to maintain. As long as Javascript doesn't provide a static check about argument types, the only solution to provide a transition helper for developers would be to provide a Typescript interfac

[2019-04-22 16:48] pachoo opened #82 "Bug: --force-family not working for iPad only app"
The `--force-family` flag should be modifying the UIDeviceFamily for iPad only apps (UIDeviceFamily 2) to 1, however this isn't working in the case below.

Example Info.plist with `UIDeviceFamily` of 2.
[code]

After running applesign with the `--force-family` flag this is still 2.
[code]

[2019-04-22 16:50] pachoo commented on #82
This was with applesign 3.3.1 (as installed by npm).
[code]

[2019-04-29 17:09] platix opened #84 "Wildcard profiles return error"
A wildcard profile (APP ID: STRING.*) returns this error:

Error: Cannot find an identity for this mobile provisioning file.
    at findIdentityFromProvisionSync (/usr/local/lib/node_modules/applesign/lib/idprov.js:25:9)
    at Object.fromOptions (/usr/local/lib/node_modules/applesign/lib/config.js:72:19)
    at new Applesign (/usr/local/lib/node_modules/applesign/index.js:25:26)
    at main (/usr

[2019-05-08 16:11] nschild opened #85 "Support for multiple provisioning profiles"
Hello, I see that you started code to implement multiple provisioning profiles but it states that it is not ready yet. Do you have a timeline on this?
`// throw new Error('Multiple mobile provisionings not yet supported');`

[2019-08-29 21:04] trufae commented on #80
can we close this  issue?

[2019-08-29 21:05] trufae commented on #82
should  be fixed  with 3.4,  please confirm

[2019-09-23 21:10] dweinstein opened #87 "exits with 0 exit code even when failed"
Expected applesign to exit with non-zero exit since it failed to run `zip` and the exitCode from zip was non-zero.
[code]

it would appear this is intentional behavior in this code https://github.com/nowsecure/node-applesign/blob/b1000aa864f4de9895d0e046db1b7accfa37c4ff/lib/tools.js#L46-L47

but why do we only `console.error` log this rather than actually bubble up a proper `Error`?

[2019-09-23 21:21] dweinstein opened #88 "Fails to create Zip when output file is a path"
try running w/ parameter `--output ./some/relative/path/file.ipa`

[2019-09-23 21:21] dweinstein commented on #88
related to https://github.com/nowsecure/node-applesign/issues/87

[2019-09-24 16:50] trufae commented on #88
can't reproduce

[2019-09-24 16:56] trufae commented on #88
ok i can reproduce now, the relative path issue only happens if you use applesign from $PATH, i always run it from the source directory.

The other issue is that it fails with the same error (exit 0 + exception) when passing a path that the user don't have permissions, but this is #87 . working on a fix now

[2019-09-24 17:20] #88 closed

[2019-09-24 17:25] #87 closed

[2019-09-24 17:26] trufae commented on #82
Closing for now, this issue was addressed already

[2019-09-24 17:26] #82 closed

[2019-10-22 13:34] leonjza opened #89 "Trouble Signing Apps due to `mkdir`"
As the title says, [this issue comment](https://github.com/sensepost/objection/issues/286#issuecomment-544951353) shows a case where `applesign` appears to fail creating directories while doing its thing, with a weird workaround.

[2019-10-26 08:08] C3l1n commented on #89
I fixed it in my fork. Best regards.

[2019-10-26 09:00] trufae commented on #89
Can you submit a pr?

[2019-10-26 09:09] C3l1n commented on #89
Done.

[2020-01-31 07:40] jsramraj opened #91 "Can't override the get-task-allow to false"
When resigning my .iPa with new distribution certificate, I try override the entitlement `get-task-allow` to false by using the following code. But the value never changes in the signed ipa file.

`const as = new Applesign({
                    withGetTaskAllow: false,
                    identity: 'path to certificate',
                    mobileprovision: 'path to mobileprovision',

[2020-01-31 07:45] jsramraj commented on #91
I looked at the code and I found that the block never executes if the `withGetTaskAllow` is set to `false`.

[code]

[2020-02-27 11:52] HerbertGoergens opened #93 "iOS 13.3.1"
Thank you for the great tool. Unfortunately it does not seem to work with iOS 13.3.1 anymore. The installation of a self-signed IPA fails with the error message: "Error 0xe8008001: An unknown error has occurred. AMDeviceSecureInstallApplication(0, device, url, options, install_callback, 0)"

[2020-02-27 12:13] trufae commented on #93
Is this happening with any IPA? Which commandline flags are you using?

[2020-02-29 18:23] trufae commented on #91
this is fixed in master in https://github.com/nowsecure/node-applesign/pull/92

[2020-02-29 18:23] #91 closed

[2020-03-07 06:54] Tigre000 commented on #93
I get the same error.

tigre000@Tigre000ui-MacBookPro Desktop % applesign --mobileprovision ~/embedded.mobileprovision test.ipa
File: /Users/tigre000/Desktop/test.ipa
Outdir: /Users/tigre000/Desktop/test.ipa.88992a4e-72fe-4faf-9c4a-a0a61a3008e8
Cleaning up /Users/tigre000/Desktop/test.ipa.88992a4e-72fe-4faf-9c4a-a0a61a3008e8
Unzipping /Users/tigre000/Desktop/test.ipa
Main IPA executable is not enc

[2020-03-07 07:10] trufae commented on #93
Read the device syslog for proper error message. Also, use the -c flag too

[2020-03-07 08:09] Tigre000 commented on #93
Hmm.. It's the same with the -c flag.

[2020-03-07 08:14] Tigre000 commented on #93
I'm not good at reading syslog.
But after reading it hard, the profile installed on my iPhone(SE, 13.3.1) is NYN4KPRZFF, but GJ962AK34K if you attempt to install it with an deviceinstaller.

[2020-03-07 09:09] trufae commented on #93
Maybe you are using the wrong provisioning file? Did you created it with xcode? Or how did u got that file?

You can use the idevicesyslog tool from libimobiledevice project or the xcode device manager to read the logs

[2020-03-07 09:14] Tigre000 commented on #93
I'm used the provisioning file created with xcode.
I followed this github wiki.
https://github.com/nowsecure/node-applesign/wiki/Setting-up-your-resigning-environment

[2020-04-13 22:28] lukewegryn commented on #93
@Tigre000 did you ever figure out the issue? I am having the same problem, and I'm not able to glean much more information from the logs.

[2020-04-13 23:54] lukewegryn commented on #93
I figured out my issue. It had to do with missing entitlements. I fixed it by adding all capabilities by clicking "Targets > + Capability" and selecting every one. This allowed by provisioning file to work.

[2020-04-16 01:54] NIKE-PC opened #96 "nowsecure/node-applesign"

[2020-04-16 03:51] NIKE-PC opened #97 "Apple"

[2020-04-16 03:53] #97 closed

[2020-04-16 03:54] #96 closed

[2020-06-11 21:04] professorIsaac opened #99 "Node apple sign not displaying all commands advertised."

[2020-06-11 21:33] trufae commented on #99
What do you mean?

[2020-06-11 21:46] professorIsaac commented on #99
Usage:

  applesign [--options ...] [target.ipa | Payload/Target.app]

  -a, --all                     Resign all binaries, even it unrelated to the app
  -b, --bundleid [BUNDLEID]     Change the bundleid when repackaging
  -c, --clone-entitlements      Clone the entitlements from the provisioning to the bin
  -f, --force-family            Force UIDeviceFamily in Info.plist to be iPhone
  -h, --he

[2020-06-11 21:46] professorIsaac commented on #99
These are less than advertised in readme.

[2020-06-11 23:35] professorIsaac commented on #99
@trufae I installed it globally what do I do I need some of the missing options.

[2020-06-12 14:02] trufae commented on #99
if you dont provide any argument to applesign it will display a short help message with just the most common/used options. Use -h or --help to get the full help message

[2020-06-12 14:02] #99 closed

[2020-06-27 10:05] #93 closed

[2020-06-27 10:05] #89 closed

[2020-06-27 10:06] trufae commented on #80
Closing because of inactivity, please reopen if you can't use applesign3 yet

[2020-06-27 10:06] #80 closed

[2020-08-26 15:00] trufae opened #104 "Make default output less verbose"

[2020-08-26 15:01] trufae commented on #84
Can you test if this branch works for you? https://github.com/nowsecure/node-applesign/pull/103

[2020-08-26 15:03] trufae commented on #85
Can you check if the new -j option works for you to solve this problem? Sorry for taking that much to take care of this, it took me 1h to get it done. Testing is welcome and i know it's not the ideal way to specify multiple signing options, but the amount of options is quite high and i would appreciate some testing.

[2020-10-16 04:39] leonjza opened #113 "codesigning issue with free developer account"
Hey, I'm hoping I am just being dumb here, but it seems like signing using free developer accounts may be broken at the moment? Using [DVIA](https://github.com/prateek147/DVIA-v2) as an example app, I get error code `0xe8008001` when trying to install a resigned app. I am not really sure why.

## To reproduce

Using a mobileprovision generated using a blank app deployed to an iPhone, I would first

[2020-10-16 10:24] trufae commented on #113
Try using -c

[2020-10-16 10:29] leonjza commented on #113
With `-c` I am getting the same error in `ios-deploy`.

[code]

[2020-10-16 10:36] trufae commented on #113
Drop the -a, its no longer needed

[2020-10-16 10:44] leonjza commented on #113
Thanks for the responses. Still seems the same.

[code]

[code]

For completions sake from Console.app

[code]

[2020-10-17 05:13] evilpan commented on #24
So, is this feature supported?

[2020-10-17 08:35] trufae commented on #24
Plugins are now resigned and this should work indeed

[2020-10-17 08:35] #24 closed

[2020-10-17 09:15] evilpan commented on #24
Hi, @trufae, It seems that plugins are resigned, but not rebundled with `-b` bundle id.

For example, resign [ish.ipa](https://github.com/ish-app/ish/releases/download/builds%2F76/iSH.ipa) as follow:
[code]
When isntalling ish-resigned.ipa, it shows:
[code]

Is there anything that I missed?

[2020-10-17 10:24] trufae commented on #24
works fine for me with
[code]

[2020-10-17 10:24] trufae commented on #24
The -E is experimental and not necessary, the -i flag is unnecessary because its derived from the provisioning file

[2020-10-18 11:37] trufae commented on #24
Oh right! rebundling appex seems to not be implemented properly. ill take a look at this when i have some spare time, thanks!

[2020-10-26 12:26] Ruud-cb commented on #76
@trufae  To me, this is still an issue.
I've ran from xcode which just works fine. I see which Development Signing certificate is used. Using `security find-identity -p codesigning -v` to get the identifier, get the correct provisioning profile from either the already build IPA (embedded.mobileprovisioning) or get it from `~/Library/MobileDevice/Provisioning Profiles`.
Then I run
1. `applesign -i

[2020-10-27 13:53] trufae commented on #76
Different things:

* -i is derived from -m, so no need to pass -i
* i would add -c to clone the entitlements from the provisioning, which use to be the common issue and maybe it should be by default
* if you dont pass -o a proper name for the resigned ipa is generated
* ios-deploy can install .ipa, no need to unzip first

I added a debugging option in appleisng that generates a json with the old/n

[2020-10-27 14:00] hunch-13 opened #115 "unable to find ldid2 even if not using it"
I see support for ldid2 was recently added but I don't seem to see if its required (or how to install properly), even without trying to use it my scripts no longer run.

Failure is "Error: Warning: tools.findInPath: Error: not found: ldid2"

[2020-10-27 14:18] trufae commented on #115
You need to install ldid2, it's not provided by applesign. Try this on mac: https://github.com/xerub/ldid

[2020-10-27 14:21] hunch-13 commented on #115
i'll give that a shot.  May just need to update the docs here to mention that its required if that fixes it

[2020-11-16 13:35] rustymagnet3000 commented on #113
Hey @leonjza, did you get it working?

I wrote up some ways to fix `ios-deploy` errors here.

https://gist.github.com/rustymagnet3000/605c333519cd265c7eac9d556f46dc75

Hope it helps.  I spent a long time getting `unknown error` with `ios-deploy` when I had my device proxying via Burp.  I forgot that Apple's "Trust the Developer Profile and App" won't work when proxied [ as it has it's own cert pin

[2020-11-17 13:57] leonjza commented on #113
I did not with applesign, but using this tool I was able to get the signing to work: https://github.com/DanTheMan827/ios-app-signer

[2021-02-12 11:44] xfoxfu commented on #113
I am experiencing similar issue, and found out that adding `-c` to preserve entitlements works.

[2021-02-13 01:27] trufae commented on #113
@leonjza can you confirm the issue is gone?

[2021-02-15 11:43] leonjza commented on #113
@trufae I have to test this myself still, but have heard of some folks still experiencing this. Will feedback with my own results soonest.

[2021-02-24 17:24] Manouchehri commented on #113
Stolen advice from @Siguza, check what you're allowed to sign with first:

[code]

[2021-03-02 11:51] leonjza commented on #113
Just tested this again, same issue. ios-app-signer however still works.

[2021-03-03 23:47] dki commented on #113
I'm able to reproduce this - will try to get a PR in to fix it tomorrow.

[2021-03-04 14:48] dki commented on #113
@leonjza When you have a chance, can you try signing with `-b` and the bundle ID in your mobile provision file to see if you get different results?  Something like this:
[code]

[2021-03-04 15:07] leonjza commented on #113
@dki hah! That worked!

[code]

[2021-03-04 16:49] dki commented on #113
@leonjza I think there must be different restrictions on free accounts vs. paid that enforce the bundle ID matching between the provisioning file and the ipa.  In any case, glad we found a solution!  Thanks for reporting it!

[2021-03-04 16:55] leonjza commented on #113
Yeah I also suspect free accounts are to blame here. I'll update the use case in objection to extract the bundle identifier from the mobile provision and set that, regardless of account type for now.

Appreciate you looking into this @dki :D

[2021-03-04 17:02] dki commented on #113
Happy to help @leonjza!  I updated the wiki page as well (https://github.com/nowsecure/node-applesign/wiki/Setting-up-your-resigning-environment#re-signing) to be a bit more explicit about what options work with free accounts too.  Feel free to point folks there if you hear of similar issues!

[2021-04-06 07:39] #113 closed

[2021-06-01 01:48] anjaneyulu-battula opened #123 "Resigning of Apps with Extensions (Share) is not supported"
We have added a share extension in the application, to resign the share extension I didn't find the proper command. is this has support for resigning Share Extension ?

[2021-06-02 05:36] anjaneyulu-battula commented on #123
@trufae @mrmacete @dweinstein Can you please help me with this, we are using this for a long time, but now I am unable to resign the IPA file because of the share extension.

So node-applesign supports extension resign also? based on your reply I need to try some other alternatives and we have a deadline.

[2021-06-03 00:20] trufae commented on #123
The problem is related to rebundling the package, if you don't really need to do that just avoid passing `-b`. With this patch i can resign, install and run the app with app extensions.

I have fixed this bug in https://github.com/nowsecure/node-applesign/pull/124

[2021-06-04 14:29] anjaneyulu-battula commented on #123
With this fix also I am unable to resign the app, getting **unable to install** error

Previously I am using the below command to sign the IPA file and it is working (It doesn't have the share extension)
`./node-applesign-master/bin/applesign.js  -i “Certificate” -b “com.YOURCOMPANY.product” -m appprofile.mobileprovision -e entitlements.plist -v -l arm64 -o appresigned.ipa app.ipa`

**In Latest ap

[2021-06-23 22:23] davidmdt21 opened #127 "run this script on linux"
hey guys
can we run this great script on Linux server ?

i dont ` have mac and i want sign some apps with this script on Linux ! i installed NodeJS on my linux server !
any body can please help to run Node-applesign on linux

[2021-06-24 17:29] radare commented on #127
Unfortunely applesign depends on few programs that are only provided by Apple for signing and managing the keychain. So it is not possible to run this on Linux out of the box right now.

The way applesign is designed it makes it very easy to replace those programs for other alternatives just providing the path to them in a config file. But it will require some work to mimic those apple programs to

[2021-07-22 01:27] kaleb-g opened #128 "Failed to Install after signing the application"
Hi, I've experience an error while installing the application after I signed it.

 applesign -m embedded.mobileprovision -i F65C7C7C47767CE97C0FFEFC351726AED5BFB7B0 -I frida-gadget-12.9.7-ios-universal.dylib -c -a  Sample.ipa

then when I try to install it using ideviceinstaller. This is the error:
Install: VerifyingApplication (40%)ERROR: Install failed. Got error "ApplicationVerificationFailed"

[2021-07-30 09:40] kaleb-g commented on #113
Hi, I've experience an error while installing the application after I signed it.

applesign -m embedded.mobileprovision -i F65C7C7C47767CE97C0FFEFC351726AED5BFB7B0 -I frida-gadget-12.9.7-ios-universal.dylib -c -a Sample.ipa

then when I try to install it using ideviceinstaller. This is the error:
Install: VerifyingApplication (40%)ERROR: Install failed. Got error "ApplicationVerificationFailed" wi

[2021-08-04 19:09] dki commented on #113
@kaleb-g What happens if you try signing with the `-b` flag?

[code]

[2021-08-05 16:35] dki commented on #113
@kaleb-g I'm going to move discussion to the new issue you opened.

[2021-08-05 16:39] dki commented on #128
Moving discussion here from https://github.com/nowsecure/node-applesign/issues/113#issuecomment-892933649

It looks like the app you are resigning contains app extensions.  Just to make sure you can get past the inital resigning issue, try stripping the extensions with the `-p` option and see if it will successfully install:

[code]

[2021-08-05 23:09] kaleb-g commented on #128
Hello, still having issues even with the parameter -p, Not sure what I'm missing here, but it worked when I tried the IOS app signer, the repatch using applesign.

 ideviceinstaller -i Sample-resigned.ipa
WARNING: could not locate iTunesMetadata.plist in archive!
WARNING: could not locate Payload/Sample.app/SC_Info/Sample.sinf in archive!
Copying 'OGAds-resigned.ipa' to device... DONE.
Installing

[2021-08-09 13:25] dki commented on #128
@kaleb-g can you watch the device syslog while trying to install to see if there are any interesting error messages that might help?

Can you also provide the iOS version and applesign version you are using?  Assuming this is happening for any app you try to resign, I'll try to reproduce on one of my devices.

[2021-09-14 02:42] kaleb-g commented on #128
HI @dki  sorry for the late response.

Here is my iOS version:14.5.1
Applesign:3.8.0

And here is the syslog.
Sep 14 10:37:01 securityd[115] <Notice>: trustd[109]/1#12 LF=0 copy_parent_certificates Error Domain=NSOSStatusErrorDomain Code=-34018 "Client has neither application-identifier nor keychain-access-groups entitlements" UserInfo={numberOfErrorsDeep=0, NSDescription=Client has neither applic

[2021-10-09 02:32] kbtbc opened #130 "iOS 15.01 fails to install due to new signing requirements"
devices with iOS 15+ now require the `--generate-entitlement-der` flag

Reference:  https://developer.apple.com/documentation/xcode/using-the-latest-code-signature-format

[2021-10-10 10:00] trufae commented on #130
May be fixed in https://github.com/nowsecure/node-applesign/pull/131

[2021-11-12 19:51] dki commented on #128
@kaleb-g My turn to say sorry for the late response!  I may have a solution for you.  This line stands out for me:
[code]

Can you try this: for the mobileprovision file that you are using, figure out what the bundle ID was of the application it originally came from.  Then sign using the following:

[code]

Based on some testing, it looks like when you use a free Apple ID you have to make sure the

[2021-12-03 11:42] trufae opened #132 "Use ideviceprovision if available for easier resignings"
Mobile Provision files are stored in ~/Library/MobileDevice/"Provisioning Profiles", and the `ideviceprovision` tool (from imobiledevice). can parse those files to enumerate all the target devices. as well as inquiry the device to get the installed profiles and the device id.

If this tool is found in PATH we can automatically pick the mobileprovision file and about the mandatory `-m` to make it e

[2021-12-15 22:27] iambenmitchell opened #133 "Use a p12 file instead of installed certificates?"
Hello,

I currently use Zsign but I am investing in a macOS server for speed. I currently use a .p12 file with zsign, but node-applesign requires an identity to be in the keychain.

Could you add the ability to specify a path to a p12 and password flag as well?

Thanks

[2021-12-24 13:24] trufae commented on #133
Despite being desirable option to not depend on apple tooling, i don't know of a way to use the `security` tool without the keychain. You can import this p12 in the commandline using this:

`security import "ADistribution.p12" -k appledev -f pkcs12 -A -P ""`

Eventually we may get rid of the `security` and `codesign` tools and make applesign work without macOS dependencies.

[2021-12-27 18:00] #132 closed

[2021-12-27 21:33] iambenmitchell commented on #133
I can't think of a good way of programatically selecting the certificates though? Importing the .p12 doesn't return an ID to use when signing.

Is there a way to check the name of a certificate before you import it?

[2021-12-31 01:37] lord opened #135 "Can't sign app directory"
When signing an app directory, I get a "Incorrect arguments count" error. It looks like signAppDirectory [expects two arguments](https://github.com/nowsecure/node-applesign/blob/9648a9fbbf75d615816a505d4683ef3a04ac1318/index.js#L137), but the applesign binary will only call it with [one argument](https://github.com/nowsecure/node-applesign/blob/master/bin/applesign.js#L50)?

[2021-12-31 10:49] #135 closed

[2021-12-31 10:50] trufae commented on #135
Thanks for reporting that! i fixed that and tagged a new release `3.9.2` . Happy new year!

[2022-01-01 19:17] lord commented on #135
Thanks for the quick fix — just tested it and it seems to work great. Happy new year to you too!

[2022-01-12 22:50] kaleb-g commented on #128
Hey  @dki Happy New Year!
[code]

[2022-01-13 00:13] trufae commented on #128
As a side note there's now the -D flag which takes the first device connected and the associated mobileprovisioning from the cache. So you dont need to pass -m and -i :D

[2022-06-04 04:27] kaleb-g opened #139 "Unable to sign an Application"
Good day, I was trying to resign an application DVIA.
MacOS 12.4 M1
applesign version 4.0.0

Here is the switches that I used
[code]

Error:

**"Error: stdout:
stderr: Failed to parse entitlements: AMFIUnserializeXML: syntax error near line 12"**
[code]

Not sure what I'm missing here.

But when I downgrade to version 3.9.3, the applesign is working.
Any help will do! TIA

[2022-06-05 15:14] #139 closed

[2022-06-05 15:17] trufae commented on #139
Thanks for reporting!

I have investigated the issue and wrote a fix for it. Seems like the latest plist parser from Apple is a bit more strict. Read this for some context https://github.com/electron/osx-sign/issues/218 the regression was introduced after updating the plist dependency which had some different default settings that make `codesign` tool unhappy.

I just released applesign 4.0.1 with

[2022-06-06 02:19] kaleb-g commented on #139
Thank you for the quick fix as always!